p {
    text-align: justify;
}

.tags {
    display: flex;
    justify-content: end;
}
.tagPills {
    color: #999;
    font-size: .85rem;
    border: 1px #999 solid;
    border-radius: 1rem;
    padding: 3px 6px;
    margin-left: 4px;
}