@media (max-width: 701px) {
  html, body {
    font-size: 14px;
  }
}

@media (max-width: 601px) {
  html, body {
    font-size: 13px;
  }
}

@media (max-width: 551px) {
  html, body {
    font-size: 12px;
  }
}